.logo-content {
    .logo {
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;

        svg {
            font-size: 28px;
            margin-right: 10px;
            margin-left: 10px;
            width: 30px;
            height: 30px;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
        }  

        .logo-name {
            font-size: 25px;
            font-weight: 400;
            opacity: 0;
            pointer-events: none;
            transition: all 0.5s ease;
        }
    }
}