.beatmap-card {
    display: flex;
    position: relative;
    
    .beatmap-image {
        position: relative;
        height: 100px;
        width: 130px;
        cursor: pointer;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px 0 0 10px;
        }
        
        .beatmap-play-icon {
            position: absolute;
            padding: 38px 40px;
            color: white;
            opacity: 1;
            z-index: 5;
            right: -0.5rem;
            &:hover{
                color: #FFD966;
            }
        }
        
    }

    &:before {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-color: #00000090;
        cursor: pointer;
        content: "";
        opacity: 0;
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover {
        .beatmap-actions {
            width: 40px;

            .beatmap-action-icon {
                opacity: 1;
            }
        }

        .beatmap-image {
            .beatmap-play-icon {
                opacity: 1;
            }
        }
    }

    .beatmap-detail {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 8px;
        background-position: center;
        background-size: 100%;
        gap: 6px;
        cursor: pointer;
        
        .beatmap-title {
            color: white;
            font-size: 16px;
            height: 16px;
            z-index: 4;
        }

        .beatmap-artist {
            color: white;
            font-size: 14px;
            height: 14px;
            z-index: 4;
        }

        .beatmap-mapper {
            font-size: 12px;
            height: 12px;
            color: #C9DAE1;
            z-index: 4;

            .beatmap-mapper-name {
                font-weight: 500;
                color: #7FADBF;
                cursor: pointer;
                z-index: 4;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .beatmap-statistics {
            height: 0.8rem;
            font-size: 10px;
            z-index: 4;
        }

        .beatmap-extra-info {
            display: flex;
            align-items: center;
            z-index: 4;

            .status {
                font-size: 10px;
                font-weight: 500;
                color: #394246;
                border-radius: 10px;
                background-color: #B3FF66;
                padding: 0 10px;
            }
        }
    }

    .beatmap-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 0 10px 10px 0;
        background-color: #2E3538;
        width: 8px;
        z-index: 4;

        transition: all 0.1s ease-in;
        
        .beatmap-action-icon {
            font-size: 16px;
            color: #7FADBF;
            opacity: 0;
            cursor: pointer;

            &:hover {
                color: white;
            }
        }
    }

    
}