.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;

    
    .menu-icon {
        position: absolute;
        color: #fff;
        top: 6px;
        left: 50%;
        height: 50px;
        width: 25px;
        text-align: center;
        transform: translateX(-50%);
    }

    &.active {
        width: 248px;
        .logo-content {
            .logo {
                opacity: 1;
                pointer-events: none;
            }
        }
        
        .menu-icon {
            left: 90%;
        }

        .tooltip {
            display: none;
        }

        .link-element {
            .links-name {
                opacity: 1;
                pointer-events: auto;
            }
        }

        .profile-content {
            .profile {
                background: #1d1b31;
                
                .profile-details {
                    opacity: 1;
                    pointer-events: auto;
                }

                .log-out-icon {
                    left: 88%;
                    background: none;
                }
            }
        }

        & ~ .page-content {
            width: calc(100% - 240px);
            left: 240px;
        }
    }
}